#image-div {
  display: inline-block;
}

.icons {
  width: 3.5rem;
}
#navbar-header {
  background-image: url("../../../../Bake-My-Cake/src/assets/images/BackgroundBody3.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}
sub {
  font-size: 1.5rem;
  font-family: Satisfy;
}

#right-icons {
  display: flex;
  font-family: Satisfy;
  margin-right: 5rem;
}

.right-icon:hover mat-icon,
.right-icon:hover span span {
  color: rgb(0, 123, 255);
}

#navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
#header-title {
  font-family: Agbalumo;
}

.icon-span {
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  top: -5px;
  left: -6px;
}

#order-view-body {
  margin: 5% auto;
  margin-top: 2%;
  width: 80%;
  box-shadow: 0px 0px 10px black;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e5e7e9;
}

h1 {
  display: inline-block;
}
#quantity-div {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding: 2% 5%;
  border: 1px solid black;
  width: 50px;
}
#item-details-div {
  margin-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
h2 {
  font-family: Agbalumo;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
}
.card img {
  border: 2px solid black;
  border-right: 2px solid black;

  border-radius: 2px 20px 20px 2px;
  transform: scale(1.01);
}

#description {
  font-family: Satisfy; /*Satisfy */
  font-size: 1.5rem;
}

#container {
  background-image: url("../../../../Bake-My-Cake/src/assets/images/backgroundBody5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#chip {
  background-color: #9ba499;
}

#customer-details-div {
  margin-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
#mat-date {
  width: 80%;
}

form {
  padding-right: 50px;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1.1rem;
}
